
.main {
    background-color: white;
    color: black;
}

.main.bar {
    height: 4em;
    background-color: #8c9;
    overflow: hidden;
    padding-top: 1em;
    padding-left: 0.3em;
}

.main.bar.content {
    color: white;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
}

.main.frame {
    background-color: #8c9;
    height: 80vh;
    padding-top: 0em;
    padding-right: 2em;
    padding-left: 2em;
    padding-bottom: 2em;
}

.main.page {
    background-color: white;
    height: 100%;
    padding: 1em;
}
